@font-face {
    font-family: 'Ubuntu-Medium';
    src: url("../assets/fonts/Ubuntu-Medium.ttf") format('truetype');
}
@font-face {
    font-family: 'Ubuntu-Light';
    src: url("../assets/fonts/Ubuntu-Light.ttf") format('truetype');
}